@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
}

.main-body {
    padding-top: 20px;
    background: rgb(13, 208, 245);
    background: linear-gradient(0deg, rgba(17, 9, 108, 1) 0%, rgb(7, 162, 193) 100%);

}

.nav-bar {
    background-color: rgb(159, 231, 255);
    margin-left: 0%;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0px;
    border: 0px solid black;
    border-bottom: solid;
}

.nav-container {
    margin-left: 2%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: 50px 40px;
    justify-content: space-between;
}

.nav-links {
    grid-column-start: 1;
    grid-column-end: 3;
}

.nav-item {
    display: inline;
    text-decoration: none;
    color: lightslategray;
    padding: 10px;
    font-size: 1.2rem;
    box-shadow: 0px 5px 5px 0px;
}

.heading-name {
    font-size: 32px;
    text-align: left;
}

.nav-item a {
    text-decoration: none;
}

.active {
    text-decoration: underline, solid;
    color: rgb(81, 93, 104);
}

.description-box {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 250px;
    padding: 2%;
    border: 2px solid black;
    box-shadow: 1px 2px 15px 5px;
}

.languages-box {
    padding-bottom: 50%;
}

.profile-picture {
    float: left;
    padding-right: 10px;
}

.dropdown-list {
    display: none;
    position: absolute;
    min-width: 160px;
}

.dropdown-container {
    display: inline-block;
}

.dropdown-container:hover .dropdown-list {
    display: block
}



.dropdown-item a {
    z-index: 0;
    display: block;
    text-align: left;
}

.projects-box {
    background-color: blue;
}

.projects-container {
    background-color: blue;
}

.projects-item-title {
    background: rgb(17, 9, 108);
    background: linear-gradient(0deg, rgba(17, 9, 108, 1) 0%, rgba(13, 208, 245, 1) 12%);
}

.dropdown {
    position: relative
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: beige;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
}