@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
}

.main-body {
    padding-top: 20px;
    background: rgb(13, 208, 245);
    background: linear-gradient(0deg, rgba(17, 9, 108, 1) 0%, rgb(7, 162, 193) 100%);

}

.nav-bar {
    background-color: rgb(159, 231, 255);
    margin-left: 0%;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0px;
    border: 0px solid black;
    border-bottom: solid;
}

.nav-container {
    margin-left: 2%;
    margin-top: 10px;
}

.heading-name {
    font-size: 32px;
    text-align: left;
}

.nav-item {
    text-decoration: none;
    color: lightslategray;
    padding: 10px;
    background-color: aqua;
}

.nav-item a {
    text-decoration: none;
}

.active {
    text-decoration: underline, solid;
    color: rgb(81, 93, 104);
}

.description-box {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 250px;
    padding: 2%;
    border: 2px solid black;
    box-shadow: 1px 2px 15px 5px;
}

.languages-box {
    padding-bottom: 50%;
}

.profile-picture {
    float: left;
    padding-right: 10px;
}

.dropdown-list {
    display: none;
    position: absolute;
    min-width: 160px;
}

.dropdown-container {
    display: inline-block;
}

.dropdown-container:hover .dropdown-list {
    display: block
}

.dropdown-item {
    width: 200px;
    position: absolute;
    background-color: burlywood;
}

.dropdown-item a {
    z-index: 0;
    display: block;
    text-align: left;
}

.projects-box {
    background-color: blue;
}

.projects-container {
    background-color: blue;
}

.projects-item-title {
    background: rgb(17, 9, 108);
    background: linear-gradient(0deg, rgba(17, 9, 108, 1) 0%, rgba(13, 208, 245, 1) 12%);
}